* {
     box-sizing: border-box;
}

html {
     font-family: "Neue Hass Grotesk";
}

body {
     margin: 0;
}

.App {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

::selection {
     color: white;
     background: rgb(var(--pink));
}
